header#header(class="container")
  .row
    #header-container(class="col-lg-12")
      nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .navbar-header
          span#brand.navbar-brand(
            href="#"
            ) Destroyed
            small#subtitle Films of crushing emotional weight
          button#dropdown-toggle.navbar-toggle(type="button" data-toggle="collapse" data-target="#collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
    #collapse.collapse.navbar-collapse.dropdown
      ul#collapse-ul.nav.navbar-nav.visible-xs.text-center
        li
          a.nav-link(
            href='#' data-linked-item="#featured-section"
            ) Featured
        li
          a.nav-link(
            href='#' data-linked-item="#coming-soon-section"
            ) Coming Soon
        li
          a.nav-link(
            href='#' data-linked-item="#past-section"
            ) Past
        li
          a.nav-link(
            href='#' data-linked-item="#about-section"
            ) About
        li
          a.nav-link(
            href='#' data-linked-item="#contact-section"
            ) Contact
